<div class="container">
  <h1>Stupid Coach</h1>
  <br>
  <form action="/answer" method="get">
    <input id="form" type="text" name="question" placeholder="Ask your coach anything!">
    <input id="submit-button" value="Ask the coach!" type="submit">
  </form>
</div>
